/* App.css */
/* General Styles */
body, html, .App {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  height: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  margin-left: 5rem;
}

.navbar {
  position: relative;
}

.nav-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

/* .nav-item {
  margin-left: 4rem;
} */

.nav-link {
  /* text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  padding: 1.2rem ;
  border-radius: 100px;
 
 
  /* text-align: center; */
  /* margin: 0 auto; */
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 2px;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  padding: 1rem 1rem;
  border-radius: 120px;
  width: 120px;  /* Example width, adjust as necessary to fit the longest item */
  text-align: center;
  margin: 1rem;
  display: flex;
  justify-content: center;  /* Centers text horizontally */
  align-items: center;    

}

.home-link {
  background-color: #007BFF;
}

.service-link {
  background-color: #28a745;
}

.dashboard-link {
  background-color: #ffc107;
}

.station-link {
  background-color: #17a2b8;
}

.profile-link {
  background-color: #6f42c1;
}

.upload-link {
  background-color: #e83e8c;
}

.nav-link:hover {
  text-decoration: none;
  color: #cb8585;
}

/* Mobile Navigation */
.nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: none;
}

@media (max-width: 768px) {
  .nav-toggle {
    display: none;
  }

  .nav-toggle-label {
    display: block;
    cursor: pointer;
    position: relative;
    z-index: 1001;
    padding: 10px;
  }

  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background-color: #007BFF;
    height: 2px;
    width: 25px;
    border-radius: 2px;
    position: relative;
    transition: background 0.3s, transform 0.3s;
  }

  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: '';
    position: absolute;
  }

  .nav-toggle-label span::before {
    top: -8px;
  }

  .nav-toggle-label span::after {
    top: 8px;
  }

  .nav-toggle:checked + .nav-toggle-label span {
    background: transparent;
  }

  .nav-toggle:checked + .nav-toggle-label span::before {
    transform: rotate(45deg);
    top: 0;
  }

  .nav-toggle:checked + .nav-toggle-label span::after {
    transform: rotate(-45deg);
    top: 0;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 2rem;
    border-radius: 0;
    box-shadow: none;
    overflow: hidden;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }

  .nav-toggle:checked + .nav-toggle-label + .nav-menu {
    display: flex;
    transform: scaleX(1);
  }

  .nav-item {
    margin: 0;
    text-align: center;
    padding: 1.5rem 0;
  }

  .nav-link {
    padding: 1.5rem;
    display: block;
    font-size: 1.2rem;
    color: #fff;
  }

  /* Additional styles for small devices */
  .nav-link {
    width: 50%;
    margin: 0 auto;
  }
}
