/* Home Section Styles */
.home-section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #bd1e1e;
    background: url('../images/background-simple.png') no-repeat center center/cover;
  }
  
  /* Hero Section Styles */
  .hero-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  /* Logo Overlay Styles */
  .logo-overlay {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    scale: 2;
  }
  
  .logo-overlay img {
    width: 200px;
    height: 300px;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
  }
  
  .logo-overlay img:hover {
    transform: scale(1.1);
  }
  
  /* Hero Content Styles */
  .hero-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem;
    width: 100%;
    border-radius: 15px;
    gap: 1.25rem;
    animation: fadeIn 1s ease-in-out;
    margin-top: 15rem;
  }
  
  /* Hero Text Styles */
  .hero-text {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2.5rem;
    color: #000000;
    max-width: 50rem;
    margin: 1rem 0 0;
  }
  
  .hero-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Ensure all text starts at the same position */
  }
  
  .hero-text .title-text {
    font-size: 2.7rem;
    font-weight: 900;
    color: #000000;
   
  }
  
  .hero-text .hero-text-battery {
    font-size: 5rem;
    font-weight: 900;
    color: #007bff;
    line-height: 1; /* Ensures tight spacing with the previous line */
    margin-bottom: 1rem; /* Adjust spacing to the next line */
    margin-top: 1rem;
    font-family: Montserrat, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  }
  
  .hero-text .hero-text-p {
    font-size: 1.75rem;
    font-weight: 400;
    color: #007bff;    
    line-height: 1.58;
    text-align: left;
    font-family: Montserrat, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";

  }
  
  /* CTA Button Styles */
  .hero-text .cta-button {
    font-size: 1.8rem;
    padding: 0.75rem 1.25rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    margin-top: 2.5rem;
    padding: 1.25rem 5rem;
    font-weight: 500;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
  }
  
  .hero-text .cta-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  /* Hero Image Styles */
  .hero-image {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
  }
  
  .hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 0.625rem;
    transition: transform 0.3s ease-in-out;
  }
  
  .hero-image img:hover {
    transform: scale(1.05);
  }
  
  /* Responsive Adjustments */
  @media (max-width: 768px) {
    .hero-content {
      flex-direction: column;
      text-align: center;
      padding: 1.25rem;
    }
  
    .hero-text {
      align-items: center;
    }
  
    .hero-text-wrapper {
      align-items: center; /* Center align text on smaller screens */
    }
  
    .hero-text .title-text {
      font-size: 2rem;
    }
  
    .hero-text .hero-text-battery {
      font-size: 1.5rem;
    }
  
    .hero-text .hero-text-p {
      font-size: 0.9rem;
    }
  
    .hero-image {
      padding: 0.625rem;
    }
  }
  
  @media (max-width: 480px) {
    .hero-content {
      padding: 0.625rem;
    }
  
    .hero-text .title-text {
      font-size: 1.5rem;
    }
  
    .hero-text .hero-text-battery {
      font-size: 1.2rem;
    }
  
    .hero-text .hero-text-p {
      font-size: 0.8rem;
    }
  
    .hero-text .cta-button {
      font-size: 1rem;
      padding: 0.625rem 1.25rem;
    }
  }
  
  /* Animations */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  