.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 60vw;
  /* background-color: #f9f9f9; */
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin-top: 5rem;
}

.loader-message {
  margin-top: 20px;
  font-size: 24px;
  color: #333;
  padding: 0 20px;
}

.spinner-icon {
  color: #3498db;
  margin-bottom: 20px;
}
